/* ================================================================================== */
/* USTAWIENIE ZMIENNYCH ORAZ GLOBALA DLA ZAWARTOŚCI - BODY */
:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f4fa;
  --tertiary-color: #2f303a;
  --quaternary-color: #2196f3;
  --quintuple-color: #afb1b8;

  --text-color-1: #212121;
  --text-color-2: #757575;
  --text-color-3: #ffffff;
  --text-color-4: #2196f3;
  --text-color-5: #000000;
  --text-color-6: #ffffff99;

  --line-color: #ececec;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  color: var(--text-color-1);
}
img {
  display: block;
}
svg {
  display: block;
}
input {
  border: none;
  outline: none;
}
input:hover {
  outline: none;
}

/* ================================================================================== */
/* ZEROWANIE MARGINESÓW, PADDINGÓW, OUTLINÓW I BORDERÓW DLA H1-H6 ORAZ DLA p i ul */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
/* =================================================================================== */
/* STYLE DLA .CONTAINER */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* =================================================================================== */
/* STYLE DLA .SECTION */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* =================================================================================== */
/* SECTION HEADER */
.top-container {
  background: var(--primary-color);
  border-bottom: 1px solid var(--line-color);
}
.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* LOGO */
.logotext {
  color: var(--text-color-4);
  text-decoration: none;
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logotext-header-add-on {
  margin-right: 93px;
  flex-grow: 0;
}

.logotext:hover {
  color: var(--text-color-4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logotext:focus {
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header-second-word {
  color: var(--text-color-5);
}

.logotext:hover .logo-header-second-word,
.logotext:focus .logo-header-second-word {
  color: var(--text-color-4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MENU NAWIGACYJNE */

.menu-list {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 46px;
}

.menu-list .m-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color-1);
  text-decoration: none;
}

.menu-list .m-item:hover {
  color: var(--text-color-4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list .m-item:focus {
  color: var(--text-color-4);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active-site-underline {
  position: relative;
}
.active-site-underline .m-item {
  color: var(--text-color-4);
}

.active-site-underline::after {
  content: "";
  position: absolute;
  top: 47px;
  width: 100%;
  border-bottom: 4px solid var(--quaternary-color);
  border-radius: 2px;
  display: flex;

  /* SPOSÓB ZE SLACKA PONIŻEJ*/
  /* content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  background-color: var(--quaternary-color);
  border-radius: 2px;
  display: block;
  margin-top: 28px; */
}
/* MAIL I TELEFON */
.header-contact-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 2;
  gap: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color-2);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header-link:hover svg,
.header-link:focus svg {
  color: var(--text-color-4);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  fill: var(--quaternary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--text-color-4);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope-icon {
  fill: var(--text-color-2);
  margin-right: 10px;
}
.smartphone-icon {
  fill: var(--text-color-2);
  margin-right: 10px;
}

/* =================================================================================== */
/* MAIN SECTION */
.main-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  gap: 30px;
}
.header-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-3);
  max-width: 696px;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  background: var(--quaternary-color);
  color: var(--text-color-3);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-width: 200px;
  padding: 10px 41px;
}
.main-section-container {
  background-color: var(--tertiary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: visibility 0.3s linear, opacity 0.3s linear;
  z-index: 9999;
}
.modal {
  transition: transform 0.3s linear;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 9999;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-close-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
}
.modal-close-button:hover,
.modal-close-button:focus {
  cursor: pointer;
  outline: none;
  border-color: var(--quaternary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button-icon {
  fill: var(--text-color-5);
  padding: 9px, 9px, 10px, 10px;
}

.modal-header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 2px;
  padding: 0 40px 12px 40px;
}
.modal-label {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 11px 12px;
  margin-bottom: 10px;
}
.modal-label:last-of-type {
  margin-bottom: 20px;
}
.modal-label:focus-within {
  border-color: var(--quaternary-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label:focus-within .modal-form-icon {
  fill: var(--quaternary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  padding: 0 40px;
}
.label-name {
  display: block;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color-2);
  margin-bottom: 4px;
}
.modal-form-icon {
  fill: var(--text-color-5);
}
.modal-input {
  padding-left: 12px;
  width: 100%;
}
.modal-textarea {
  resize: none;
  outline: none;
  border: none;
  position: relative;
  width: 100%;
  padding: 1px 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--quaternary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 76px;
  display: block;

  border: none;
  color: var(--text-color-3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.modal-send-button:hover {
  cursor: pointer;
}
.modal-send-button:focus {
  outline: none;
}
.checkbox-container {
  margin-bottom: 30px;
}
.checkbox-container input[type="checkbox"] {
  appearance: none;
}
.checkbox-container svg {
  border: 2px solid var(--text-color-2);
  border-radius: 2px;
  fill: none;
  cursor: pointer;
}
input#check:checked + label > svg {
  border: none;
  background-color: var(--quaternary-color);
  fill: var(--primary-color);
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-text-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-2);
  cursor: pointer;
}
/* =================================================================================== */
/* MIDDLE SECTION */
.middle-section-container {
  background: var(--primary-color);
}
.middle-section-content {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}
.descriptions {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header-tertiary {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.text-container {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: var(--text-color-2);
}
.middle-section-icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  fill: var(--text-color-1);
  background-color: var(--secondary-color);
}
/* =================================================================================== */
.photo-content {
  display: flex;
  gap: 30px;
}
.photo-content > img {
  object-fit: cover;
}

.header-secondary {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.photo-content-item {
  margin: 0;
  position: relative;
}
.photo-content-item-title {
  color: var(--text-color-3);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding: 27px 90px;
}
.photo-content-item-overlay-container {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* =================================================================================== */
/* THIRD SECTION */
.third-section-container {
  background: var(--secondary-color);
}
.team-content {
  display: flex;
  gap: 30px;
}
.personality-box {
  margin: 0;
  background: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.job-name {
  font-size: 16px;
  line-height: 1.187;

  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.pb-social-icons-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 16px 32px 30px;
}

.pb-social-icon {
  fill: var(--quintuple-color);
  padding: 12px;
}
.icon-links {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
}

.icon-links:hover svg,
.icon-links:focus svg {
  fill: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-links:hover,
.icon-links:focus {
  background-color: var(--quaternary-color);
  outline: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =================================================================================== */
/* FOURTH SECTION*/
.fourth-section-container {
  background: var(--primary-color);
}

.customer-list {
  list-style: none;
  display: flex;
  justify-content: space-around;

  gap: 30px;
}
.customer-icon-links {
  display: flex;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.customer-icon-links:hover svg,
.customer-icon-links:focus svg {
  fill: var(--quaternary-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon-links:hover,
.customer-icon-links:focus {
  border: 1px solid var(--quaternary-color);
  cursor: pointer;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  padding: 16px 32px;
  fill: var(--quintuple-color);
}

/* =================================================================================== */
/* SECTION FOOTER */

.bottom-container {
  background: var(--tertiary-color);
}
.footer-content {
  display: flex;
  gap: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left-content {
  display: flex;
  flex-direction: column;
}
.footer-right-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.footer-social-title {
  color: var(--text-color-3);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-top: 12px;
}

.social-icons-list {
  list-style-type: none;
  max-width: 206px;
  display: flex;
  gap: 10px;
}
.social-list-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--quaternary-color);
  cursor: pointer;
}
.social-icon {
  fill: var(--primary-color);
  padding: 12px;
}

.footer-newsletter-title {
  color: var(--text-color-3);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-top: 12px;
}
.newsletter-form {
  display: flex;
  gap: 12px;
}
.newsletter-label-box {
  flex-grow: 2;
}
.newsletter-email-box {
  position: relative;
  width: 100%;

  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  color: var(--text-color-3);
}
.newsletter-email-box::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.newsletter-email-box:focus {
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--quaternary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 42px;
  display: flex;
  align-items: center;
  border: none;
  color: var(--text-color-3);
  flex-grow: 0;
}

.newsletter-button:hover {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-icon {
  margin-left: 24px;

  display: flex;
  align-items: center;
  fill: var(--primary-color);
}

.logotext-footer-add-on {
  padding-bottom: 20px;
}
.logo-footer-second-word {
  color: var(--text-color-3);
}

.logotext:hover .logo-footer-second-word,
.logotext:focus .logo-footer-second-word {
  color: var(--text-color-4);
}
.footer-contact {
  font-style: normal;
  color: var(--text-color-3);
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.contact-address {
  color: var(--text-color-6);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-address:hover,
.contact-address:focus {
  color: var(--text-color-4);
  cursor: pointer;
  outline: none;
}

.footer-link {
  color: var(--text-color-6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.714;
}
.footer-link:hover {
  color: var(--text-color-4);
}
.footer-link:focus {
  color: var(--text-color-4);
  outline: none;
}

.footer-link-portfolio {
  color: var(--text-color-6);
  font-size: 14px;
  line-height: 1.714;
}
.footer-link-portfolio:hover {
  color: var(--text-color-4);
  text-decoration: none;
}
.footer-link-portfolio:focus {
  color: var(--text-color-4);
  outline: none;
}

/* =================================================================================== */
/* PORTFOLIO - GRID SECTION */

.grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding-bottom: 50px;
}
.button-list .button-item {
  background: var(--secondary-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}
.button-item:hover {
  background: var(--quaternary-color);
  color: var(--text-color-3);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-item:focus {
  background: var(--quaternary-color);
  color: var(--text-color-3);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.grid-box {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-boxes {
  margin: 0;
  background: var(--primary-color);
}

.portfolio-boxes:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-boxes:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.department-name {
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.03em;
  color: var(--text-color-2);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container > img {
  object-fit: cover;
}

.card-description {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--text-color-3);
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}

.portfolio-boxes:hover .card-description {
  transform: translateY(0);
}
